@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) {


        input {
            height: 25px;
            width: 83vw;
        }

        .login_container {
            display: grid;
            height: 50vh;
            width: 100%;
            border-radius: 10px;
            background-color: white;
            box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.3);
            grid-template-columns: 10% 80% 10%;
            grid-template-rows: 60px 80px 10px 80px 10px 80px 10px 60px;
        }

        /* .container_items {
            display: grid;
            /* grid-template-columns: 10% 80% 10%;
            grid-template-rows: 60px 80px 10px 80px 10px 80px 10px 60px;
            
        } */

        .email_container {
            grid-row: 2 / 3;
            background-color: pink;
            border-radius: 1%;
            
        }

        .password_container {
            grid-row: 4 / 5;
            background-color: yellow;
            border-radius: 1%;
        }

        .repeat_container {
            grid-row: 6 / 7;
            background-color: blue;
            border-radius: 1%;
        }

        .submit_container {
            grid-row: 8 / 9;
            background-color: green;
            border-radius: 1%;
        }

         .email_container, .password_container, .repeat_container, .submit_container {
            justify-content: center;
            align-items: center;
            grid-column: 2 / 3;
        }

    

    }