

@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) {
        body {
            /* background-image: url('./assets/background.jpg'); */
            background-color: rgb(182, 212, 211);
            max-height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        


    }
